.chart {
    display: flex;
    padding: 0 1em;
    background: #1A1E1F;
    font-weight: 400;
    color: white;
    border-radius: 20px;
    margin: 2em 0;
    justify-content: space-between;
}

.chart>button {
    height: 20px;
    width: 50px;
    align-self: center;
}

.chart>div>img {
    height: 63px;
    width: 63px;
    border-radius: 10px;
}

.chart>div {
    display: flex;
    gap: 1.5em;
}