.chart {
    display: flex;
    padding: 1em;
    background: #1A1E1F;
    font-weight: 400;
    color: white;
    border-radius: 20px;
    margin: 2em 0;
    justify-content: space-between;
}

.chart>button {
    align-self: center;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 100%;
    padding: 1em;
    text-align: center;
    background-color: transparent;
}

.chart>div>img {
    height: 63px;
    width: 63px;
    border-radius: 10px;
}

.chart>div {
    display: flex;
    gap: 1.5em;
}

.artist_detail>h3 {
    text-overflow: clip;
    padding-right: 2em;
}