.nav {
    display: flex;
    gap: 2em;
}

.nav>input {
    height: 18px;
    background-color: transparent;
    border: none;
    outline: none;
}

.nav2 {
    position: fixed;
    left: 0;
    padding: 1em 2em;
}

.header {
    padding: 1em 2em;
    position: fixed;
}

.nav2>ul {
    list-style: none;
    margin: 1em 0;
    background: #1A1E1F;
    border-radius: 32px;
    text-align: center;
}

.nav2>ul>li {
    text-decoration: none;
    padding: 1em 0;
}

.nav2>ul>li>a {
    text-decoration: none;
    color: white;
}